:root {
    --laranja-principal: #D88D35;
    --roxo-principal: #333789;
    --cinza-principal: #DADADA;
    --verde-principal: #0d9fae;
    --branco-usual: #FFFFFF;

}

@font-face {
    font-family: MohrRoundedBold;
    src: url(../font/MohrRoundedAlt-Bold.ttf);
}

@font-face {
    font-family: MohrRoundedLight;
    src: url(../font/MohrRoundedAlt-Light.ttf);
}

/* reset css */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
}


/* animações */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

@-webkit-keyframes bounce {

    0%,
    20%,
    53%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    40%,
    43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0)
    }

    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0)
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0)
    }
}

@keyframes bounce {

    0%,
    20%,
    53%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    40%,
    43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0)
    }

    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0)
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0)
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom
}

@-webkit-keyframes flash {

    0%,
    50%,
    100% {
        opacity: 1
    }

    25%,
    75% {
        opacity: 0
    }
}

@keyframes flash {

    0%,
    50%,
    100% {
        opacity: 1
    }

    25%,
    75% {
        opacity: 0
    }
}

.flash {
    -webkit-animation-name: flash;
    animation-name: flash
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05)
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05)
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: .75s;
    animation-duration: .75s
}

@-webkit-keyframes bounceInDown {

    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0)
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0)
    }

    100% {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes bounceInDown {

    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0)
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0)
    }

    100% {
        -webkit-transform: none;
        transform: none
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown
}

@-webkit-keyframes bounceInLeft {

    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0)
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0)
    }

    100% {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes bounceInLeft {

    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0)
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0)
    }

    100% {
        -webkit-transform: none;
        transform: none
    }
}

.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft
}

@-webkit-keyframes bounceInRight {

    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0)
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0)
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0)
    }

    100% {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes bounceInRight {

    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0)
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0)
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0)
    }

    100% {
        -webkit-transform: none;
        transform: none
    }
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
}

h2 {
    font-size: calc(1.275rem + .9vw);
}

h3 {
    font-size: calc(1.3rem + .6vw);
}

h4 {
    font-size: calc(1.275rem + .3vw);
}

h5 {
    font-size: calc(1.125rem + .1vw);
}

h6 {
    font-size: calc(1.045rem + .1vw);
}


@media screen and (max-width: 720px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 800px;
    }
}

@media screen and (min-width: 1199px) {
    .container {
        max-width: 1000px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.5rem;
    }



}

@media screen and (min-width: 1399px) {
    .container {
        max-width: 1200px;
    }
}


/* css criação page */
.head_nav {
    width: 100%;
    background-color: #f3f7f9;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 9em;
}



.nav_link {
    display: flex;
    justify-content: center;
    gap: 2.5em;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.button__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1.3em;
    margin-right: .8em;
}

.buttonnav {
    color: var(--laranja-principal);
    background-color: #e6e0e0;
    border-radius: 25px;
    padding: .1em 1em;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 1px 2px rgba(64, 48, 48, 0.2);
    transition: all 1s;
}

.buttonnav a {
    font-size: 13px;
    color: var(--laranja-principal);
    word-spacing: .2em;
    text-align: center;
    transition: all 1s;
}

/* button hamburguer */

.buttonhamb{
    display: none;
    align-items: center;
    justify-content: center;
}

#checkbox-menu{
    position: absolute;
    opacity: 0;
}

.buttonhamb label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
    
}

.buttonhamb label span{
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background-color: var(--laranja-principal);
    transition: all 0.25s ease-in-out;
}

.buttonhamb label span:nth-child(1){
    top: 0;
}
.buttonhamb label span:nth-child(2){
    top: 8px;
}
.buttonhamb label span:nth-child(3){
    top: 16px;
}

#checkbox-menu:checked +  label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
}
#checkbox-menu:checked +  label span:nth-child(2){
    opacity: 0;
}
#checkbox-menu:checked +  label span:nth-child(3){
    transform: rotate(45deg);
    top: 8px;
}


/* fim botao hmaburguer */


@media screen and (max-width:1120px){
    .head_nav {
        gap: 2em;
    }
}
@media screen and (max-width:885px){
    .navegacao{
        display: none;
    }
    .head_nav {
        justify-content: space-between;
        gap: 0px;
    }
    .buttonhamb{
        display: flex;
    }
}



/* primeira dobra */

.first_content {
    position: relative;
}

.content__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 2em;
    margin-top: 2em;
}

.first_content__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 1em 0 0 0;
}

.first_content__preco {
    background-color: var(--cinza-principal);
    border-radius: 50%;
    padding: .5em;
    width: 190px;
    height: 190px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    position: absolute;
    right: 10%;
    bottom: -80px;
}

.preco__content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--laranja-principal);
}

.preco__content p {
    font-size: 1.2em;
}

.first_content__text {
    align-self: flex-start;
    width: 46%;
}

.text_acima {
    font-size: 1.5rem;
}

.text_abaixo {
    font-size: 1.1rem;
}


.text_content p,
.text_content ul {
    margin: 1em 0;
}

.button_first_content {
    color: black;
    background-color: var(--cinza-principal);
    border-radius: 15px;
    cursor: pointer;
    width: auto;
    display: inline-block;
    padding: .4em 1.8em;
    word-spacing: .2em;
    font-size: 14px;
    margin-top: 2em;
}

.first_img {
    width: 46%;
    align-self: flex-end;
}

.first_img img {
    margin-top: 3em;
}




/* segunda dobra */

.second_content {
    background-color: var(--cinza-principal);
    padding-bottom: 2em;
}

.second_content__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 2em;
    justify-content: center;
    align-items: center;
}

.second_content__text {
    width: 54%;
    margin-top: 3em;
}

.content__img {
    width: 40%;
}

.second_content__img {
    width: 40%;
    align-self: flex-end;
}

.content__text_second p {
    margin: 1em 0;
}

@media screen and (max-width:1185px) {
    .first_img img {
        width: 80%;
    }

    .second_content__img img {
        width: 80%;
    }

    .first_img {
        width: 100%;
    }

    .second_content__img {
        width: 100%;
    }

    .first_content__text {
        width: 100%;
        padding: 0 1em;
    }

    .second_content__text {
        width: 100%;
    }
}


/*  terceira dobra */
.tree_content {
    background-image: linear-gradient(to bottom, #333789, transparent 20%, #333789, transparent 20%, #333789);
}

.tree_flex {
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.tree_img {
    width: 45%;
    align-self: flex-end;
}

.tree_img img {
    margin-top: 5em;
}

.tree_content__text {
    width: 48%;
    margin-top: 2em;
    align-self: flex-start;
}

.tree_content__text>span {
    font-size: 2.5rem;
}

.tree_content__text .text_abaixo {
    font-size: 2.5rem;

}

.text_icon {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 2em 0;
    gap: 3em;
}

.text_icon i {
    align-self: flex-start;
    margin-top: .5em;
}

.tree_content__preco {
    background-color: transparent;
    padding: .5em;
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tree__button{
    margin-top: .5em;
}

.preco-maior {
    font-size: 2.7rem;
}

.button_beneficios {
    text-align: right;
    cursor: pointer;
}

@media screen and (max-width:1185px) {
    .tree_flex{
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .tree_img img{
        display: none;
    }

    .tree_content__text {
        width: 100%;

    }
}

/* quarta dobra */

.four_content {
    background-image: url(../img/fundobrasil.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.four_flex {
    margin-top: 0px;
    justify-content: center;
    gap: 2em;
    align-items: center;
    margin-bottom: 0px;
}

.four_img {
    width: 43%;
    align-self: flex-start;
    margin-top: 2.5em;
}

.four_img img {
    width: 100%;
}

.four_content__text {
    width: 45%;
    margin-top: 2em;
}

.four_content__text>p {
    margin: 2em 0;
}



.content__text_itens {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2em 0;
}

.content__text_itens span {
    font-size: 2.2rem;
    font-weight: bold;
}

.content__text_img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}


@media screen and (max-width:1185px) {
    .four_flex {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .four_img {
        width: 60%;
    }

    

    .four_content__text {
        width: 100%;
        margin-top: 2em;
    }

    .four_content {

        background-position: 20%;
    }

}

@media screen and (max-width:680px) {
    .four_img {
        width: 95%;
    }
}

/* quinta dobra */

.section__five {
    height: 600px;
    width: 100%;
    position: relative;
    background-image: url(../img/fundoduplo.webp);
    background-repeat: no-repeat;
    background-size: cover;
}


.five_content h2 {
    text-align: center;
    font-size: 53px;
    color: var(--laranja-principal);
    padding-top: .3em;
}

.five_titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.five_titles div {
    margin-top: 32%;
}

.five_titles div h3 {
    align-self: flex-end;
    font-size: 42px;
    line-height: 40px;
    color: var(--roxo-principal);

}

/* sexta dobra */
.six_flex {
    justify-content: space-between;

}

.six_content {
    width: 45%;
}

.six_assinaturas {
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 3em 0;
}

.six_assinaturas i {
    align-self: flex-start;
}

.six_flex_itens {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5em;
    margin: .7em 0;
}

.six_flex_itens__second {
    align-self: flex-start;
}

.mt-one {
    margin-top: 1.3em;
}


@media screen and (max-width:1185px) {
    .six_flex{
       flex-direction: column;
       align-items: center;
       justify-content: center;     
    }
    .six_content{
        width: 100%;
    }

}

@media screen and (max-width:390px) {
    .six_flex_itens{
        flex-wrap: wrap;
        gap: 2em;
    }

}

/* seven dobra */

.section__seven {
    background-image: url(../img/fundocuidadora.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.seven_content {
    width: 60%;
    padding-top: 2em;
    color: var(--branco-usual);
}

.seven_content h3 {
    margin-bottom: 2em;
    font-size: 40px;
}

.seven_content h4,
.seven_content p,
.seven_content ul {
    margin: .5em 0;
}

.seven__contato {
    width: 100%;
    padding-bottom: 2em;
    color: var(--branco-usual);
}

.contato__num {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0;
    flex-wrap: wrap;
}

.seven__contato__num {
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 1em;
}

.seven__contato__num span {
    font-size: 28px;
}

@media screen and (max-width:1185px) {
    .seven_content{
        width: 100%;
    }

}

/* oitava dobra */
.eight__content {
    padding: 2em 0;
    background-color: var(--branco-usual);
}

.eight__content h3 {
    color: var(--laranja-principal);
}

.eight_flex {
    justify-content: center;
    gap: 3em;
}

.title-center {
    text-align: center;
}

.eight__card {
    border: 1px solid black;
    border-radius: 10px;
    width: 350px;
    height: auto;
    padding: 1em;
    position: relative;


}

.card__top__text {
    background-color: var(--cinza-principal);
    text-align: center;
    border-radius: 5px;
}

.card__top__text span {
    font-size: 26px;
}

.card__top__price {
    text-align: center;
    display: flex;
    justify-content: center;

}

.card__top__price span {
    font-size: 38px;
}

.card__main {
    text-align: center;
    margin: .7em 0;
}

.card__main p {
    margin: .5em 0;
}

.separacao_conteudo {
    width: 100%;
    height: .1em;
    background-color: var(--cinza-principal);
    margin-top: .5em;
}

.card__check {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1em;
    margin: 1em 0;

}

.card__button {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.card__button__link {
    border: 1px solid var(--cinza-principal);
    border-radius: 10px;
    padding: .3em 2em;
}

.text-center {
    text-align: center;
}

.card__text__footer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.card__footer__links{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 6em;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}


.card__footer__links p{
    font-size: 24px;
}

.card__footer__links a{
    text-decoration: underline;
    font-size: 28px;
}


@media screen and (min-width:1400px){
    .card__marginonline{
        margin-top: 11em;
    }
}

@media screen and (min-width:992px){
    .card__marginbasico{
        margin-top: 5.5em;
    }
}

@media screen and (min-width:992px) and (max-width:1600px){
    .card__margindental{
        margin-top: 8em;
    }
}


@media screen and ( max-width:680px){
    .eight__card{
        width: 95%;
    }
}

/* nona dobra */

.nine_flex {
    width: 100%;
    justify-content: space-between;
    background-color: #f7f4f4
}

.nine_img {
    width: 45%;
}

.nine_img img {
    width: 100%;
    height: 100%;
}

.nine_text {
    width: 45%;
    padding: 2em 0;
}

.nine_text p {
    margin: 2em 0;
}

@media screen and (max-width:1185px) {
    .nine_flex {
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .nine_img {
        width: 60%;
        margin-bottom: 1em;
        border-radius: 10px;
    }
    .nine_img img{
        border-radius: 10px;
    }
    .nine_text {
        width: 100%;
        padding: 2em;
    }

}

@media screen and (max-width:680px){
    .nine_img{
        width: 95%;
    }
}






form .btn {
    padding: 10px 10px;
    background-color: #333789;
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.form_flex {
    justify-content: space-between;
    margin-top: 4em;
}

.form_text {
    width: 53%;
    padding-left: 4em;
    position: relative;
}

.form_text h2 {
    position: relative;
    top: -30px;
    font-size: 42px;
}

.form__components {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.form__components input,
.form__components select {
    border: 1px solid var(--cinza-principal);
    border-radius: 5px;
    width: 100%;
    padding: .7em;
    outline-color: var(--laranja-principal);
}

.form__components label {
    margin: 1em 0;

}

.form__button {
    margin-top: 2em;
}

.form_img {
    width: 45%;
    margin-top: 40px;
}

.form_img img {
    height: auto;
    max-height: 90%;
    width: 100%;
}

@media screen and (max-width:1185px) {
   .form_flex{
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
   .form_img{
    width: 60%;
   }
   .form_img img{
    width: 100%;
   }
   
   .form_text{
        width: 100%;
        padding: 0 1.5em;
   }

   .form__components{
    width: 95%;
   }
}

@media screen and (max-width:680px){
    .form_img{
        width: 95%;
       }
}

.end__footer{
    background-color: #f3f7f9;
}

.end__second__footer{
    padding: 1.5em 0;
}

.footer__flex{
    justify-content: space-between;
}

.footer__links{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5em;
}

.footer_textoindicativo{
    width: 40%;
}

.copy{
    background-color: #0d9fae;
    text-align: center;
    padding: 1em 0;
    color: rgba(255, 255, 255, .6);
    font-size: 18px;
}

@media screen and (max-width:1215px){
    .footer__flex{
        justify-content: space-around;
    }
}

@media screen and (max-width:680px){
    .footer__flex{
        flex-direction: column;
        align-items: flex-start;
    }
    .footer_textoindicativo{
        width: 95%;
        padding-left: 2em;
    }
    .footer__links{
        padding-left: 2em;
    }
}