html {
    scroll-behavior: smooth;
}

:root {
    --laranja-principal: #D88D35;
    --roxo-principal: #333789;
    --cinza-principal: #DADADA;
    --verde-principal: #0d9fae;
    --branco-usual: #FFFFFF;
    --cinza-usual: #86898c;
    --laranja-antigo: #F68934;
}

@font-face {
    font-family: MohrRoundedBold;
    src: url(../font/MohrRoundedAlt-Bold.ttf);
}

@font-face {
    font-family: MohrRoundedLight;
    src: url(../font/MohrRoundedAlt-Light.ttf);
}

/* reset css */

* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}



.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    color: var(--laranja-principal);
    font-size: calc(1.375rem + 1.5vw);
    font-family: 'MohrRoundedBold', 'Poppins', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-size: calc(1.275rem + .9vw);
    font-family: 'MohrRoundedBold', 'Poppins', 'Arial Narrow', Arial, sans-serif;

}

h3 {
    font-size: calc(1.3rem + .6vw);
    font-family: 'MohrRoundedBold', 'Poppins', 'Arial Narrow', Arial, sans-serif;
}

h4 {
    font-size: calc(1.275rem + .3vw);
    font-family: 'MohrRoundedBold', 'Poppins', 'Arial Narrow', Arial, sans-serif;
}

h5 {
    font-size: calc(1.125rem + .1vw);
    font-family: 'MohrRoundedBold', 'Poppins', 'Arial Narrow', Arial, sans-serif;
}

h6 {
    font-size: calc(1.045rem + .1vw);
    font-family: 'MohrRoundedBold', 'Poppins', 'Arial Narrow', Arial, sans-serif;
}


@media screen and (max-width: 720px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 800px;
    }
}

@media screen and (min-width: 1199px) {
    .container {
        max-width: 1000px;
    }

    .container-card {
        max-width: 1200px;
    }

    h1 {
        font-size: 3.3rem;
        line-height: 40px;
        margin: .4em 0;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.5rem;
    }

}



::-webkit-scrollbar {
    width: inherit;
}

::-webkit-scrollbar-thumb {
    background-color: var(--laranja-principal);
}

@media screen and (min-width: 1399px) {
    .container {
        max-width: 1200px;
    }

    .container-card {
        max-width: 1300px;
    }
}


/* css criação page */

.page header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}


.scrolltop {
    background-color: var(--roxo-principal);
    opacity: 0.7;
    position: fixed;
    z-index: 5;
    border-radius: 5px;
    padding: .7em;
    text-align: center;
    right: 60px;
    top: 89%;

}

@media screen and (max-width:680px) {
    .scrolltop {
        right: 20px;
    }
}

.head_nav {
    width: 100%;
    background-color: var(--branco-usual);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 9em;
    box-shadow: 0 0 20px 0 rgb(36 36 36 / 20%);
}

.nav_link {
    display: flex;
    justify-content: center;
    gap: 2.5em;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all 1s ease-in-out;
}

.nav_link a {
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--laranja-principal);
    font-size: 18px;
    position: relative;
}

.nav_link a::after {
    content: " ";
    width: 0%;
    height: 3px;
    background-color: var(--roxo-principal);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;
}

nav a:hover::after {
    width: 100%;
}


.button__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1.3em;
    margin-right: .8em;
}

/* .buttonnav {
    background-color: var(--laranja-principal);
    border-radius: 25px;
    padding: .1em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in;
    cursor: pointer;
} */
.buttonnav {
    color: var(--roxo-principal);
    background-color: var(--laranja-principal);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 0px 10px;
    position: relative;
    transition: transform 1s;
}

.icone {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--roxo-principal);
    display: flex;
    justify-content: center;
    align-items: center;

}

.icone img {
    width: auto;
}

.buttonnav a {
    padding: 10px 10px;
    font-size: 14px;
    color: var(--roxo-principal);
    word-spacing: .2em;
    text-align: center;
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.buttonnav:hover {
    transform: scale(1.04);
    box-shadow: 0 10px 20px 0 rgb(36 36 36 / 20%);
}

.mobilenone {
    display: none;
    transition: all 1s;
}

.mobile_aparecer {
    display: block;
    transition: all 1s;
}

.navmobile {
    width: 100%;
    transition: all 1s;
}

.nav_link__mobile {
    padding-top: .4em;
}

.navmobile nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.navmobile nav div a {
    text-align: center;
    padding: .5em 0;
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--laranja-principal);
    background-color: #f3f7f9;
    width: 100%;
}

@media screen and (max-width:535px) {
    .logo {
        width: 41%;
    }

    .logo a img {
        width: 100%;
    }

    .buttonnav a {
        font-size: 10px;
    }
}

@media screen and (max-width:390px) {
    .buttonnav {
        height: 20px;
    }

    .icone {
        height: 17px;
        width: 17px;
    }
}

@media screen and (max-width:339px) {
    .buttonnav a {
        font-size: 8px;
    }
}


/* button hamburguer */

.buttonhamb {
    display: none;
    align-items: center;
    justify-content: center;
}

#checkbox-menu {
    position: absolute;
    opacity: 0;
}

.buttonhamb label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;

}

.buttonhamb label span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background-color: var(--laranja-principal);
    transition: all 0.25s ease-in-out;
}

.buttonhamb label span:nth-child(1) {
    top: 0;
}

.buttonhamb label span:nth-child(2) {
    top: 8px;
}

.buttonhamb label span:nth-child(3) {
    top: 16px;
}

#checkbox-menu:checked+label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
}

#checkbox-menu:checked+label span:nth-child(2) {
    opacity: 0;
}

#checkbox-menu:checked+label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
}


/* fim botao hmaburguer */


@media screen and (max-width:1170px) {
    .head_nav {
        gap: 2em;
    }
}

@media screen and (max-width:925px) {
    .navegacao {
        display: none;
    }

    .head_nav {
        justify-content: space-between;
        gap: 0px;
    }

    .buttonhamb {
        display: flex;
    }
}

/* banner */

.banner_interno__empresa {
    margin-top: 80px;
    position: relative;
    width: 100%;
    height: 330px;
    background-image: url(../img/banner/bannervoce.webp);
    background-position: 50%;
    background-repeat: no-repeat;
}

.banner_interno__conteudo {
    position: absolute;
    top: 100px;
    left: 50px;
}

.banner_interno__conteudo span {
    color: var(--laranja-antigo);
    font-size: 42px;
    font-weight: 600;
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner_interno__conteudo p {
    font-size: 24px;
    margin: 1em 0;
    line-height: 36px;
    font-weight: 700;
    color: #fff;
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width:540px){
    .banner_interno__empresa{
        margin-top: 40px;
    }
}

@media screen and (max-width: 520px) {
    .banner_interno__empresa {
        background-image: url(../img/banner/bannervocemobile.webp);
    }
        .banner_interno__conteudo {
            text-align: center;
            left: 18%;
            right: 25%;
            top: 25%;
        }
        .banner_interno__conteudo p {
           font-size: 18px;
           line-height: 24px;
        }
        .banner_interno__conteudo span {
            font-size: 35px;
        }


}

/* breadcomb */
.breadcomb {
    background-color: #f68934;
    padding: 0.1em;
}

.breadcomb p {
    margin: 0px;
    font-weight: bold;
    padding-left: 2em;
    height: 100%;
    font-size: 16px;

}

.breadcomb p a {
    color: var(--roxo-principal);
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/* primeira dobra */

.primeiro {
    margin-top: 90px;

}

.first_content {
    position: relative;
    border-bottom: 2px solid var(--cinza-principal);
}

.content__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 2em;
    margin-top: 2em;
}

.first_content__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 1em 0 1em 0;
    gap: 2em;
}

.first_content__preco {
    background-color: #f7f5fa;
    border-radius: 50%;
    padding: .5em;
    width: 190px;
    height: 190px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--laranja-principal);
    position: absolute;
    right: 15%;
    bottom: -40px;
    z-index: 2;
}

.preco__content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--laranja-principal);
}

.preco__content p {
    font-size: 1.4em;
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.first_content__text {
    align-self: flex-start;
    width: 46%;

}

h1 span {
    font-size: 1.8rem;
    color: var(--roxo-principal);
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text_acima::before {
    content: " ";
    width: 20px;
    height: 3px;
    background-color: var(--roxo-principal);
    position: absolute;
    top: 50%;
    left: 0;
}


.text_acima {
    font-size: 1.3rem;
    color: var(--roxo-principal);
    padding-left: 25px;
    position: relative;
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text_abaixo {
    margin: 1em 0;
    color: var(--roxo-principal);
    font-size: 1.1rem;
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.text_content p,
.text_content ul {
    margin: 1em 0;
    font-size: 18px;
    font-weight: 500;
    color: var(--cinza-usual);
    line-height: 26px;
}

.button_first_content {
    background-color: var(--laranja-principal);
    border-radius: 10px;
    cursor: pointer;
    width: auto;
    display: inline-block;
    padding: .4em 1.8em;
    word-spacing: .2em;
    font-size: 14px;
    margin: 1em 0;
    box-shadow: 0 10px 20px 0 rgb(36 36 36 / 20%);
}

.button_first_content a {
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--roxo-principal);
}

.button_first_content:hover {
    background-color: #0d9fae;

}

.first_img {
    width: 46%;
    align-self: flex-start;

}

.first_img img {
    margin-top: 3em;
}

@media screen and (max-width:520px){
    .first_content__flex {
        
        gap: .2em;
    }
}




/* segunda */

/* segunda dobra */

.second_content {
    background-color: #f7f5fa;
    padding-bottom: 2em;
}

.second_content__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 2em;
    justify-content: center;
    align-items: center;
}

.second_content__text {
    width: 54%;
    margin-top: 3em;
}

.second_content__text h2 {
    color: var(--roxo-principal);
}

.second_content__text h3 {
    color: var(--laranja-principal);
    font-size: 2rem;
}

.content__img {
    width: 40%;
}

.second_content__img {
    width: 40%;
    align-self: flex-end;
}

.content__text_second p {
    margin: 1em 0;
    font-size: 18px;
    line-height: 24px;
    color: #292929;
}

.text_abaixo_second {
    margin: 1em 0;
    color: #292929;
    font-size: 1rem;
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button_second_content a {
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
    color: var(--roxo-principal);
}

.button_second_content a:hover {
    color: var(--laranja-principal);
}

@media screen and (max-width:1185px) {
    .first_img img {
        width: 100%;
    }

    .second_content__img img {
        width: 80%;
        margin-top: 2em;
    }

    .first_img {
        width: 95%;
    }

    .second_content__img {
        width: 100%;
    }

    .first_content__text {
        width: 100%;
        padding: 0 1em;
    }

    .second_content__text {
        width: 100%;
    }
}





/*  terceira dobra */

.preco__content_tree {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: var(--laranja-principal);
}

.preco__content_tree p {
    font-size: 1.1em;
    padding-left: .7em;
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.tree__button {
    margin-top: 1rem;
    margin-left: 1.5em;
}

.preco__content h3 {
    font-size: 1.5rem;
}

.preco-maior {
    font-size: 50px;
    font-weight: bolder;
}

.preco-maior-tree {
    font-size: 3.4rem;
    font-weight: bolder;
}

.button_beneficios {
    text-align: right;
    cursor: pointer;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.text_icon_content p {
    font-size: 18px;
    line-height: 26px;
    margin-top: 1rem;
}

.button_beneficios a {
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: var(--laranja-principal);
}

@media screen and (max-width:1185px) {
    .tree_flex {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .tree__conteudo {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .tree_img {
        width: 100%;
    }

    .tree_img img {
        width: 100%;
    }

    .tree_roxo {
        width: 100%;
    }

    .tree_content__text {
        width: 100%;

    }
}

@media screen and (max-width:705px) {
    .tree_cont {
        background-color: #fff;
    }

    .tree_img {
        width: 100%;
        margin: 0px;
        padding: 0;
    }

}

@media screen and (max-width:500px) {
    .text_icon {
        flex-wrap: wrap;
    }

    .tree_content__text>span {
        text-align: center;
        display: block;
        width: 100%;
    }

    .tree_content__text .text_abaixo {
        text-align: center;
    }

    .button_beneficios {
        justify-content: flex-start;
    }

}

@media screen and (max-width:460px){
    .first_content__preco{
        height: 140px;
        width: 140px;
    }
    .preco__content p{
        font-size: 1em;
    }
    .preco__content h3{
        font-size: 1.2rem;
    }
    .preco-maior{
        font-size: 36px;
    }
}


/* quinta dobra */

.section__five {
    height: 600px;
    width: 100%;
    position: relative;
    background-image: url(../img/fundoduploescuro.webp);
    background-repeat: no-repeat;
    background-size: cover;
}


.five_content h2 {
    text-align: center;
    font-size: 63px;
    color: var(--laranja-principal);
    padding-top: .3em;
}

.five_titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.five_titles div {
    margin-top: 38%;
}

.five_titles div h3 {
    align-self: flex-end;
    font-size: 42px;
    line-height: 40px;
    color: var(--branco-usual);

}

.five__mobile {
    display: none;
    margin-top: 6em;
    padding: 1.4em;
    background-color: var(--laranja-principal);
    color: var(--roxo-principal);
}

.five__mobile a {
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--roxo-principal);
}

@media screen and (min-width:1395px) {
    .five_titles div {
        margin-top: 28%;
    }
}

@media screen and (max-width:630px) {
    .five_content h2 {
        font-size: 53px;
    }

    .five_titles {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }

    .five_titles div {
        margin-top: 4em;
    }

    .five_titles div h3 {
        font-size: 38px;
    }

    .five__mobile {
        display: block;
    }
}

@media screen and (max-width:330px) {
    .five_content h2 {
        font-size: 33px;
    }

    .five_titles div h3 {
        font-size: 28px;
    }
}

/* seven dobra */

.section__seven {
    background-image: url(../img/fundocuidadora.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.seven_content {
    width: 60%;
    padding-top: 2em;
    color: var(--branco-usual);
}

.seven_content p {
    font-size: 22px;
    line-height: 34px;

}

.seven_content h3 {
    margin-bottom: 1em;
    font-size: 40px;
}

.seven_content h4,
.seven_content p,
.seven_content ul {
    margin: 1.5em 0;
}

.seven__contato {
    width: 100%;
    padding-bottom: 2em;
    color: var(--branco-usual);
}

.seven_lista li {
    margin: 1.5em 0;
}

.contato__num {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0;
    flex-wrap: wrap;
}

.seven__contato__num {
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 1em;
    border-radius: 5px;
    padding: .7em;
    background-color: #f68934;
    transition: all 1s;
}



.seven__contato__num a {
    transition: all 1s;
    color:#fff;
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.seven__contato__num:hover {

    transform: scale(1.07);
}

.seven__contato__num p {
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.seven__contato__num span {
    font-size: 28px;
}

@media screen and (max-width:1185px) {
    .seven_content {
        width: 100%;
    }

}

@media screen and (max-width:330px) {
    .seven_content h3 {
        margin-bottom: 2em;
        font-size: 26px;
    }
}


/* oitava dobra */
.eight__content {
    color: #292929;
    padding: 2em 0;
    background-color: #f5f6fa;
}

.eight__content h3 {
    color: var(--laranja-principal);
    font-size: 40px;
}

.eight_flex {

    justify-content: space-around;

}

.title-center {
    text-align: center;
}

.eight__card {
    border: 1px solid black;
    border-top: 6px solid var(--roxo-principal);
    border-radius: 10px;
    width: 340px;
    height: auto;
    padding: 1em;
    position: relative;
    margin: 0 3px 20px 3px;
}

.eight__card:hover {
    box-shadow: 0 0 20px 0 rgb(36 36 36 / 40%);
}

.card__top__text {
    background-color: var(--laranja-principal);
    text-align: center;
    border-radius: 5px;
    /* color: #fff; */
}

.card__top__text span {
    font-size: 26px;
}

.card__top__text p,
.card__top__text span {
    font-weight: bold;
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card__top__price {
    text-align: center;
    display: flex;
    justify-content: center;

}

.card__top__price span {
    font-size: 38px;
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card__top__price p {
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card__main {
    text-align: center;
    margin: .7em 0;
}

.card__main p {
    margin: .5em 0;
    font-size: 18px;
    line-height: 24px;
    color: var(--cinza-usual);
}

.separacao_conteudo {
    width: 100%;
    height: .1em;
    background-color: var(--cinza-principal);
    margin-top: .5em;
}

.card__check {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1em;
    margin: 1em 0;

}

.card__descontos p {
    margin-top: 1em;
    color: var(--cinza-usual);
}


.card__button {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.card__button__link {
    border: 1px solid var(--cinza-principal);
    border-radius: 10px;
    padding: .3em 2em;
    cursor: pointer;
    color: var(--laranja-principal);
    background-color: var(--laranja-principal);
}

.card__button__link a {
    color: var(--roxo-principal);
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.text-center {
    text-align: center;
}

.card__text__footer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.card__text__footer h2 {
    color: var(--roxo-principal);
}

.card__footer__links {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 6em;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}


.card__footer__links p {
    font-size: 24px;
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card__footer__links a {
    font-size: 28px;
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--laranja-principal);
}

.links__opcoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2em;
    margin-top: .8em;
}

.links__opcoes div {
    border-radius: 15px;
    background-color: var(--roxo-principal);
    padding: .4em .8em;
    text-align: center;
}


.links__consultor div {
    border-radius: 15px;
    background-color: var(--laranja-principal);
    padding: .4em .8em;
    text-align: center;
    margin-top: .5em;
}

.links__consultor div a {

    color: var(--roxo-principal);
}



@media screen and (min-width:1400px) {
    .card__marginonline {
        margin-top: 17.5em;
    }
}

@media screen and (max-width:1399px) and (min-width: 992px) {
    .card__marginonline {
        margin-top: 17.2em;
    }
}

@media screen and (max-width:1197px) {
    .eight__card {
        width: 350px;
    }

    .eight_flex {
        justify-content: space-around;
    }
}

@media screen and (min-width:992px) {
    .card__marginbasico {
        margin-top: 5.5em;
    }

}

@media screen and (min-width:992px) and (max-width:1600px) {
    .card__margindental {
        margin-top: 22.5em;
    }
}

@media screen and (max-width:992px) {
    .card__footer__links {
        gap: 2em;
    }
}


@media screen and (max-width:680px) {
    .eight__card {
        width: 95%;
    }

    .card__text__footer h2 {
        text-align: center;
    }

    .card__footer__links div p {
        text-align: center;
    }
}

/* formulario */


form .btn {
    padding: 10px 10px;
    background-color: #333789;
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.form_flex {
    justify-content: space-between;
    margin-top: 4em;
}

.form_text {
    width: 53%;
    padding-left: 4em;
    position: relative;

}

.form_text h2 {
    position: relative;
    top: -50px;
    font-size: 42px;
    color: var(--roxo-principal);
}

.card__form {
    transition: all 1s;
    margin-top: -30px;
}

.card__form:hover {
    border: 1px solid #333789;
    border-radius: 5px;
    padding: 1.3em;
}

.form_text h2 span {
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 52px;
    line-height: 12px;
    color: var(--laranja-principal);
}

.form__components {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}


.form__components input,
.form__components select {
    border: 1px solid var(--cinza-principal);
    border-radius: 5px;
    width: 100%;
    padding: .7em;
    outline-color: var(--laranja-principal);
}

.form__components label {
    margin: 1em 0;

}

.form__button {
    margin-top: 2em;
    cursor: pointer;
}

.form_img {
    width: 45%;
    margin-top: 40px;
    /*  max-height: 800px; */
}

.form_img img {
    height: auto;
    max-height: 640px;
    width: 100%;
}

@media screen and (max-width:1185px) {
    .form_flex {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .form_img {
        width: 60%;
    }

    .form_img img {
        width: 100%;
    }

    .form_text {
        width: 100%;
        padding: 0 1.5em;
    }

    .form__components {
        width: 95%;
    }
}

@media screen and (max-width:680px) {
    .form_img {
        width: 95%;
    }
}

@media screen and (max-width:330px) {
    .form_text h2 {
        font-size: 28px;
    }

    .form_text h2 span {
        font-size: 32px;
    }
}

/* footer */

.end__footer {
    background-color: #f3f7f9;
}

.end__second__footer {
    padding: 1.5em 0;
}

.footer__flex {
    justify-content: space-between;
}

.footer__logo {
    width: 100%;
}

.footer__logo img {
    width: 100%;
}

.footer__redesociais ul {
    margin-top: 1em;
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}

.footer__redesociais ul li {
    background-color: var(--laranja-principal);
    border-radius: 50%;
    padding: .8em;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__redesociais ul li i {
    font-size: 20px;
    color: var(--roxo-principal);
}

.footer__links {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1.5em;

}

.footer__links h4 {
    color: var(--laranja-principal);
}

.footer__links ul li {
    margin: 1em 0 1em .6em;
}

.footer__links ul li:hover {
    list-style: disc;

}


.footer__links ul li a {
    font-size: 18px;
    font-weight: 600;
    color: var(--roxo-principal);
    font-family: 'MohrRoundedBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.footer_textoindicativo {
    width: 40%;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    padding-left: 1.5em;
}

.copy {
    background-color: var(--roxo-principal);
    text-align: center;
    padding: .7em 0;
    color: rgba(255, 255, 255, .6);
    font-size: 18px;
}

@media screen and (max-width:1215px) {
    .footer__flex {
        justify-content: space-around;
        gap: 2em;
    }
}

@media screen and (max-width:680px) {
    .footer__flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer_textoindicativo {
        width: 95%;
        padding-left: 2em;
    }

    .footer__redesociais,
    .footer__contato {
        padding-left: 2em;
    }

    .footer__redesociais {
        margin-bottom: 2em;
    }

    .footer__links {
        padding-left: 2em;
    }

    .footer__logo {
        padding-left: 2em;
    }
}